/* .login-pf body {
  background: url('../img/bg-01.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100%;
} */

.login-pf body {
  background-image: linear-gradient(120deg, #3498db, #8e44ad);
}
/* body {
  background-image: url('../img/bg-01.jpg');
  background-size: cover;
} */
