@font-face {
  font-family: 'CircularStd';
  font-style: normal;
  font-weight: 400;
  src: local('Circular Std Book'),
    url('../fonts/CircularStd-Book.woff') format('woff');
}
@font-face {
  font-family: 'CircularStd';
  font-style: italic;
  font-weight: 400;
  src: local('Circular Std Book Italic'),
    url('../fonts/CircularStd-BookItalic.woff') format('woff');
}
@font-face {
  font-family: 'CircularStd';
  font-style: normal;
  font-weight: 500;
  src: local('Circular Std Medium'),
    url('../fonts/CircularStd-Medium.woff') format('woff');
}
@font-face {
  font-family: 'CircularStd';
  font-style: italic;
  font-weight: 500;
  src: local('Circular Std Medium Italic'),
    url('../fonts/CircularStd-MediumItalic.woff') format('woff');
}
@font-face {
  font-family: 'CircularStd';
  font-style: normal;
  font-weight: 600;
  src: local('Circular Std Bold'),
    url('../fonts/CircularStd-Bold.woff') format('woff');
}
@font-face {
  font-family: 'CircularStd';
  font-style: italic;
  font-weight: 600;
  src: local('Circular Std Bold Italic'),
    url('../fonts/CircularStd-BoldItalic.woff') format('woff');
}
@font-face {
  font-family: 'CircularStd';
  font-style: normal;
  font-weight: 800;
  src: local('Circular Std Black'),
    url('../fonts/CircularStd-Black.woff') format('woff');
}
@font-face {
  font-family: 'CircularStd';
  font-style: italic;
  font-weight: 800;
  src: local('Circular Std Black Italic'),
    url('../fonts/CircularStd-BlackItalic.woff') format('woff');
}

html {
  height: 100%;
}
body {
  /* background-image: linear-gradient(120deg, #3498db, #8e44ad) !important; */
  font-family: 'CircularStd', sans-serif;
  font-size: 0.9375rem;
  color: #1f1f1f;
  min-height: 100%;
  overflow-x: hidden;
  background: #f7f7f7 !important;
}

#kc-header {
  overflow: visible;
  white-space: nowrap;
  margin-bottom: 30px;
}

#kc-header-wrapper {
  font-size: 26px;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.2em;
  padding: 0px 5px 10px;
  white-space: normal;
}

div.logoTime2it {
  background-image: url(../img/logo5.png);
  background-repeat: no-repeat;
  height: 88px;
  width: 265px;
  margin: 0 auto;
}

.nameLogo {
  color: #1f1f1f;
  font-weight: 500;
  letter-spacing: 5px;
}

#kc-header-wrapper_2 {
  display: none;
}

/* form login */
.card-pf {
  background-color: #fff;
  border: 1px solid #ededed;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
  margin: 0px auto;
  overflow: hidden;
  width: 480px;
}

.login-pf-header {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 5px;
  text-align: center;
}
#login-pf-header-subtitle {
  color: #4c4c4c;
  font-size: 18px;
  margin-bottom: 18px;
  margin-top: 0px;
  text-align: center;
}

.card-pf label {
  color: #1f1f1f;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 5px;
}

.card-pf .form-control {
  background-color: #fbfbfb;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  height: 46px;
  font-size: 15px !important;
  font-weight: lighter !important;
}

.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}

#username {
}
/* ---------------------- */
.card-pf .account-btn {
  font-size: 1.25rem;
}

.card-pf .account-btn {
  background: #667eea;
  background: -moz-linear-gradient(left, #667eea 0%, #764ba2 100%);
  background: -webkit-linear-gradient(left, #667eea 0%, #764ba2 100%);
  background: -ms-linear-gradient(left, #667eea 0%, #764ba2 100%);
  background: linear-gradient(to right, #667eea 0%, #764ba2 100%);
  border: 0;
  border-radius: 4px;
  display: block;
  font-size: 18px;
  font-weight: lighter;
  padding: 10px 26px;
  width: 100%;
}

.card-pf .account-btn:hover,
.card-pf .account-btn:focus {
  border: 0;
  opacity: 0.8;
}

/* fixe the background */
.login-pf {
  background: #f7f7f7 url(../img/bg-login.jpg) no-repeat 100% 0;
}
